.overlay {
    pointer-events: none;
    font-family: var(--font-bonheur-royale);
    font-size: 8vh;

    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.background {
    width: 100vw;
    height: 100vh;

    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.phase {
    pointer-events: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    padding: 15vh 15vw;
    font-size: 8vh;

    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 5vh 5vw;
}

.text {
    text-align: center;
}

.markdown {
    font-size: 3vh;
    height: 100vh;
    max-height: 100vh;
    padding: 5vh 5vw;
    text-align: justify;
}

.scroller {
    width: min(90vw, 120vh);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3vh 3vw;

    scrollbar-width: thick;
    scrollbar-color: #e5a21a rgba(255, 255, 255, 0.35);

    .list {
        .list {
            padding-inline-start: 2vw;
        }
    }

    .item {
        margin-bottom: 1vh;
        margin-top: 1vh;
    }

    >.paragraph {
        margin-bottom: 2vh;
        margin-top: 2vh;
        font-size: 4vh;
    }
}

.actions {
    width: min(90vw, 120vh);
    height: 10vh;
    font-size: 8vh;

    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10vh 10vw;
}

.action {
    cursor: grab;
    border: none;
    background: none;
    font-family: var(--font-bonheur-royale);
    font-size: 5vh;

    &:hover {
        text-shadow: gold 0 0 min(1vh, 1vw);
    }
}

.action.primary {

}
