.frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.board {
    width: 100%;
    height: 100%;

    padding: 5vh 5vw;

    background: #35654d;
    position: relative;

    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5vh 5vw;
}

.deck {

}

.spread {
    flex-grow: 1;
    position: relative;
    align-self: stretch;
}