.introduction {
    font-family: var(--font-bonheur-royale);
    font-size: 8vh;
}

.background {
    width: 100vw;
    height: 100vh;
}

.veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    opacity: 100%;
    background: #aaaaaa;
}

.phase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    padding: 15vh 15vw;

    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 5vh 5vw;
}

.significator {
    height: 100vh;

    .card {
        cursor: grab;
    }
}

.text {
    text-align: center;
}

.cards {
    display: flex;
    column-gap: 5vw;
}

.card {
    height: 30vh;
}

.actions {
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10vh 10vw;
}

.action {
    cursor: grab;
    border: none;
    background: none;
    font-family: var(--font-bonheur-royale);
    font-size: xxx-large;
}

.action.primary {

}

.deck {
    position: absolute;
    height: 30vh;
}