.introduction {
}

.background {
    width: 100vw;
    height: 100vh;
}

.phase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.actions {
    position: absolute;
    top: 60vh;
    left: 0;
    width: 100vw;
    height: 30vh;
}

.action {

}

.action.primary {

}