.page {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  font-family: var(--font-geist-sans);
  position: relative;

  background: #eeeeee;

}

.main {
  width: 100%;
  height: 100%;

  background: #dddddd;
}


